[runtime settings]
host = vacancies.cyrextech.net:7823
users = 3
spawn-rate = 1
run-time = 10m
# headless = true
autostart = true
csv = ./reports/results
csv-full-history = true


# task.config
# Author: oaslananka
# Description: Configuration file for Locust performance tests for LoadTestCyrex.

# Locust settings host=http://vacancies.cyrextech.net:7823 locustfile=src/main.py logfile=logs/locust.log loglevel=INFO csv=results/locust_output run-time=1h

